@font-face {
	font-family: 'inter';
	src: url('assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

body {
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
}

nav img {
	margin-right: auto;
}

li {
	list-style-type: none;
}

.nav-items {
	display: flex;
	gap: 1em;
}

.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3em;
	/* 
	margin-top: clamp(3em, 5vw, 5em);
	margin-left: clamp(3em, 10vw, 10em);
	margin-right: clamp(3em, 10vw, 10em); */
	font-family: 'inter', sans-serif;
}

/*

.container {
	display: flex;
	flex-direction: column;
	gap: 3em;

	margin-top: clamp(3em, 5vw, 5em);
	margin-left: clamp(3em, 10vw, 10em);
	margin-right: clamp(3em, 10vw, 10em);
	font-family: 'inter', sans-serif;
}

.top-part {
	display: flex;
	width: 100%;
	gap: 3em;
}

.main-headline {
	display: flex;
	flex-direction: column;
	flex-grow: 2;
	gap: 1.5em;
	width: 66%;
}

.main-title {
	font-size: 3.5em;
	margin: 0;
	flex: 1;
}

.main-img {
}

.main-headline-info {
	display: flex;
}

.main-headline-header {
}

.main-headline-content {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.main-headline-content button {
	width: fit-content;
	padding: 1em 2em;
	background-color: salmon;
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-weight: bolder;
	font-family: 'inter', sans-serif;
	border: none;
}

.main-headline-content button:hover {
	background-color: black;
	cursor: pointer;
}

.new {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	background-color: black;
	color: white;
	padding: 1.5em;
}

.new-title {
	color: orange;
	font-size: xx-large;
}

.bottom-part {
	display: flex;
	justify-content: space-evenly;
	gap: 1.5em;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.bottom-item {
	display: flex;
	gap: 1.5e
}

.bottom-item img {
	height: 150px;
	width: auto;
}

.bottom-info {
	display: flex;
	flex-direction: column;
} */
