@font-face {
	font-family: 'inter';
	src: url('assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

body {
	margin: 0;
	padding: 1em;
	font-family: 'inter', sans-serif;
}

nav {
	display: flex;
	position: fixed;
	left: -1em;
	width: calc(100vw - 1em);
	padding: 2em 2em 1em 2em;
	top: -0.5em;
	align-items: center;
	background-color: white;
}

nav .logo {
	margin-right: auto;
}

li {
	list-style-type: none;
}
h2 {
	font-size: large;
}
p {
	line-height: 2em;
	font-weight: normal;
	font-size: medium;
	color: rgb(137, 137, 137);
}

.menu-list {
	visibility: hidden;
	position: absolute;

	padding-inline-start: 0;
	font-weight: normal;
	font-size: x-large;
	color: rgb(137, 137, 137);
	transform: translateX(100%);
	transition: transform 0.5s;
}
.menu-list > li:hover,
.bottom-info h2:hover,
.bottom-info h1:hover {
	cursor: pointer;
	color: salmon;
}

#menu-toggle {
	display: none;
}

.menu-toggle-icon {
	z-index: 3;
	position: relative;
	right: 1em;
}

#menu-toggle:checked + .menu-button-container .menu-toggle-icon {
	content: url('./assets/images/icon-menu-close.svg');
}

#menu-toggle:checked + .menu-button-container .blur-bg {
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: -1em;
	top: -1em;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.421);
}
#menu-toggle:checked ~ .menu-list {
	visibility: visible;
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 2;
	right: -1em;
	top: -3em;
	align-items: flex-start;
	width: 65vw;
	height: 110vh;
	background-color: white;
	color: black;
	padding-top: 7em;
	padding-left: 2em;
	gap: 2em;
	transform: translateX(0%);
}

.wrapper-grid {
	display: grid;
	grid-template-areas:
		'headline-img'
		'headline-title'
		'headline-description'
		'new'
		'more-one'
		'more-two'
		'more-three';
	gap: 1.5em;
	margin-top: 5em;
	margin-inline: auto;
}

.grid-item:nth-child(1) {
	grid-area: headline-img;
}
.grid-item:nth-child(2) {
	grid-area: headline-title;
}
.grid-item:nth-child(3) {
	grid-area: headline-description;
}
.grid-item:nth-child(4) {
	grid-area: new;
}
.grid-item:nth-child(5) {
	grid-area: more-one;
}
.grid-item:nth-child(6) {
	grid-area: more-two;
}
.grid-item:nth-child(7) {
	grid-area: more-three;
}

.grid-item .main-img {
	object-fit: cover;
	width: 100%;
	max-height: 100%;
}

.main-title {
	font-size: 3.5em;
	margin: 0;
}

.main-headline-content {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
}

.main-headline-content button {
	width: fit-content;
	padding: 1em 2em;
	background-color: salmon;
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-size: large;
	font-weight: bolder;
	font-family: 'inter', sans-serif;
	border: none;
}

.main-headline-content button:hover {
	background-color: black;
	cursor: pointer;
}

.new {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	background-color: black;
	color: white;
	padding: 1.5em;
}

.new h2:hover {
	cursor: pointer;
	color: orange;
}

.new-title {
	color: orange;
	font-size: xx-large;
}

.bottom-item {
	display: flex;
	align-items: flex-start;
	gap: 1.5em;
}

.bottom-item img {
	object-fit: contain;
	width: clamp(7em, 5vw, 100%);
}

.bottom-item img:hover {
	cursor: pointer;
}

.bottom-info {
	display: flex;
	flex-direction: column;
}

.bottom-info h1 {
	color: lightgrey;
}
.bottom-info h1,
p {
	margin: 0;
}

.bottom-info h2 {
	margin-block-start: 0.25em;
	margin-block-end: 0.25em;
}

@media (min-width: 478px) {
	.wrapper-grid {
		grid-template-areas:
			'headline-img headline-img'
			'headline-title headline-description'
			'new new'
			'more-one more-two'
			'more-three more-three';
	}
	.grid-item .main-img {
		object-fit: cover;
		width: 100%;
		max-height: 100%;
	}
}

@media (min-width: 930px) {
	body {
		padding: 5em;
	}
	nav {
		position: static;
		width: auto;
		padding: 0;
	}
	.menu > label {
		display: none;
	}

	.menu-list {
		display: flex;
		visibility: visible;
		gap: 2em;
		position: static;
		transform: none;
	}
	.wrapper-grid {
		grid-template-areas:
			'headline-img headline-img new'
			'headline-title headline-description new'
			'more-one more-two more-three';
	}
}
